<div class="hero-banner-main">
    <div class="hero-banner">
        <div class="hero-slick">
            <div class="hero-slick-container">
                <div class="hero-img">
                    <a href="#">
                        <img class="desktop-pnly" src="./img/carouselimg/banner_1.jpg" alt="" srcset="">
                    </a>
                    <p class="hero-caption">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem, rerum?</p>                    
                </div>
            </div>
            <div class="hero-slick-container">
                <div class="hero-img">
                    <a href="#"><img src="./img/carouselimg/banner_5.jpg" alt="" srcset=""></a>
                    <p class="hero-caption">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem, rerum?</p>
                </div>
            </div>
            <div class="hero-slick-container">
                <div class="hero-img">
                    <a href="#"><img src="./img/carouselimg/banner_2.jpg" alt="" srcset=""></a>
                    <p class="hero-caption">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem, rerum?</p>
                </div>
            </div>
            <!-- <div class="hero-slick-container">
                <div class="hero-img">
                    <a href=""><img src="./img/carouselimg/banner_3.jpg" alt="" srcset=""></a>
                    <p class="hero-caption">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem, rerum?</p>
                </div>
            </div> -->
            <div class="hero-slick-container">
                <div class="hero-img">
                    <a href="#"><img src="./img/carouselimg/banner_4.jpg" alt="" srcset=""></a>
                    <p class="hero-caption">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem, rerum?</p>
                </div>
            </div>
        </div>

        <div class="prevarrow-banner">
            <i class="fa-solid fa-angle-left"></i>
        </div>
        <div class="nextarrow-banner">
            <i class="fa-solid fa-angle-right"></i>
        </div>

    </div>
</div>