<div class="multiple-banners">
    <div class="banner-1 column-6">
        <div class="image_1">
            <a href="#"><img class="banner-img" src="img/bannerImg/9.jpg" alt=""></a>
        </div>

    </div>
    <div class="banner-2 column-6">
        <div class="image_1">
            <a href="#"><img class="banner-img" src="img/bannerImg/set_2-dual.jpg" alt=""></a>
        </div>
    </div>
    <div class="banner-1 column-6">
        <div class="image_1">
            <a href="#"><img class="banner-img" src="img/bannerImg/set_3_1.jpg" alt=""></a>
        </div>
    </div>
    <div class="banner-2 column-6">
        <div class="image_1">
            <a href="#"><img class="banner-img" src="img/bannerImg/set_3_2.jpg" alt=""></a>
        </div>
    </div>
</div>