
    
    <div class="featured-catagory-products">
        <div class="featured-catagory-slick"> 
            
                <div class="catogory">
                    <img class="catagory_image" src="./img/images/new_arrival.png" alt="" srcset="">
                    <h4 class="catagory_name">mens t shirt</h4>
                </div>
            
                <div class="catogory">
                    <a href="/products" style="text-decoration: none; color: black; text-align: center;">
                        <img class="catagory_image" src="./img/images/black_shirt.png" alt="" srcset="">
                        <h4 class="catagory_name">mens t shirt</h4>
                    </a>
                </div>
            
                <div class="catogory">
                    <img class="catagory_image" src="./img/images/black-tshirt-white-background.jpg" alt="" srcset="">
                    <h4 class="catagory_name">mens t shirt</h4>
                </div>
            
                <div class="catogory">
                    <img class="catagory_image" src="./img/images/hoodie.png" alt="" srcset="">
                    <h4 class="catagory_name">mens t shirt</h4>
                </div>
            
                <div class="catogory">
                    <img class="catagory_image" src="./img/images/kurti.png" alt="" srcset="">
                    <h4 class="catagory_name">mens t shirt</h4>
                </div>
            
                <div class="catogory">
                    <img class="catagory_image" src="./img/images/ladies_red_tshirt.jpg" alt="" srcset="">
                    <h4 class="catagory_name">mens t shirt</h4>
                </div>
            
                <div class="catogory">
                    <img class="catagory_image" src="./img/images/menz_pant.jpg" alt="" srcset="">
                    <h4 class="catagory_name">mens t shirt</h4>
                </div>
            
                <div class="catogory">
                    <img class="catagory_image" src="./img/images/plus_women_tops.png" alt="" srcset="">
                    <h4 class="catagory_name">mens t shirt</h4>
                </div>
            
                <div class="catogory">
                    <img class="catagory_image" src="./img/images/red_handbag.png" alt="" srcset="">
                    <h4 class="catagory_name">mens t shirt</h4>
                </div>
        </div>
        <div class="prevarrow-featured">
            <i class="fa-solid fa-angle-left"></i>
        </div>
        <div class="nextarrow-featured">
            <i class="fa-solid fa-angle-right"></i>
        </div>

    </div>
