<header class="nav-area">
    <div class="menu-wrapper">
        <a href="/" class="logo">
            <img class="logo-image" src="/img/Linear_White.png" alt="" srcset="">
        </a>
        <nav>
            <ul class="right-nav">
                <div class="icon cancel-btn">
                    <i class="fas fa-times"></i>
                </div>
                <li><a href="/products">New In</a></li>
                <li><a href="/products">Kurti</a></li>
                <li><a href="/products">Mens</a></li>
                <li><a href="/products">Accessories</a></li>
                <li><a href="/products_list">Sale</a></li>
                <li><a href="/cart">Cart</a></li>

            </ul>
        </nav>
        <div class="icon menu-btn">
            <i class="fas fa-bars"></i>
        </div>
    </div>
  </header>