<div id="support-features">
    <ul>
        <li class="features">
            <div class="sf-portion">
                <div class="icons">
                    <i class="fa fa-shipping-fast"></i>
                </div>
                <div class="sf-text">
                    <em>FREE SHIPPING</em>
                    <p>Free shipping for items over 1,000 Taka. Shipping charge applied for items below 1,000 Taka.</p>
                </div>
            </div>

        </li>
        <li class="features">
            <div class="sf-portion">
                <div class="icons">
                    <i class="fas fa-life-ring"></i>
                </div>
                <div class="sf-text">
                    <em>Support 24/7</em>
                    <p>Contact us 24 hours a day, 7 days a week</p>
                </div>
            </div>
        </li>
        <li class="features">
            <div class="sf-portion">
                <div class="icons">
                    <i class="fas fa-exchange-alt"></i>
                </div>
                <div class="sf-text">
                    <em>EASY EXCHANGE</em>
                    <p>Changed your mind? FREE exchange within 7 days available for all products.</p>
                </div>
            </div>
        </li>
        <li class="features">
            <div class="sf-portion">
                <div class="icons">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="sf-text">
                    <em>100% PAYMENT SECURE</em>
                    <p>We ensure secure payment with COD / PEV</p>
                </div>
            </div>
        </li>
    </ul>
</div>