<div id="support-feature">
    <div class="sf-wrapper">
        <div class="column-4">
            <div class="free-shipping">
                <div class="icons">
                    <i class="fa fa-shipping-fast"></i>
                </div>
                <div class="sf-text">
                    <em>FREE SHIPPING</em>
                    <p>Free shipping for items over 1,000 Taka. Shipping charge applied for items below 1,000 Taka.</p>
                </div>
            </div>
        </div>
        <div class="column-4">
            <div class="free-shipping">
                <div class="icons">
                    <i class="fa fa-shipping-fast"></i>
                </div>
                <div class="sf-text">
                    <em>FREE SHIPPING</em>
                    <p>Free shipping for items over 1,000 Taka. Shipping charge applied for items below 1,000 Taka.</p>
                </div>
            </div>
        </div>
        <div class="column-4">
            <div class="free-shipping">
                <div class="icons">
                    <i class="fa fa-shipping-fast"></i>
                </div>
                <div class="sf-text">
                    <em>FREE SHIPPING</em>
                    <p>Free shipping for items over 1,000 Taka. Shipping charge applied for items below 1,000 Taka.</p>
                </div>
            </div>
        </div>
        <div class="column-4">
            <div class="free-shipping">
                <div class="icons">
                    <i class="fa fa-shipping-fast"></i>
                </div>
                <div class="sf-text">
                    <em>FREE SHIPPING</em>
                    <p>Free shipping for items over 1,000 Taka. Shipping charge applied for items below 1,000 Taka.</p>
                </div>
            </div>
        </div>
    </div>
    
        
</div>