<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') %>
    <title>Summer collection</title>
</head>
<body>

    <%- include('../partials/sticky-nav') %>

    








    <%- include('../partials/footer') %>
    <%- include('../partials/scripts') %>
    
</body>
</html>